@font-face {
    font-family: 'SUITE Variable';
    font-weight: 300 900;
    src: url('./SUITE-Variable.woff2') format('woff2-variations');
}

:root {
    --primary-blue: #7ebad9;
    --primary-pink: #eb9c9f;
    --primary-green: #9dcabb;
    --primary-yellow: #f7d57a;
    --primary-violet: #9596cc;
    --container-background-1: #cadde8;

    --d-blue: #24759e;
    --d-pink: #da6b74;
    --d-green: #5a9981;
    --d-yellow: #f8c539;
}

